@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: red;
    font-weight: 600;
}

/* Header styling */
#main-header {
    max-width: 1440px;
    height: 70px;
    background-color: #f9f9f9;
    box-shadow: 0 0 .5em #0000004d;
    padding: 0 60px;
    margin: 0 auto;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#nav-bar .brand-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#nav-bar h1 {
    color: red;
    font-size: 18px;
    font-family: 'Poppins';
}

#nav-bar img {
    /* width: 57px; */
    width: 40px;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

#nav-bar ul li {
    font-size: 16px;
    font-family: 'Poppins';
}

#nav-bar ul li:hover {
    border-bottom: 3px solid #D43339;
}

#nav-bar a {
    color: #151515;
    text-decoration: none;

}

#nav-bar #signup-div {
    display: flex;
    justify-content: center;
    font-family: 'inter';
    align-items: center;
    gap: 30px;
}

.signup-btn {
    text-align: center;
    font-size: 14px;
    padding: 7px 20px;
    background-color: #D43339;
    color: #ffffff;
    border-radius: 12px;
}


/* Hero styling */
#hero {
    max-width: 1440px;
    min-height: 500px;
    margin: 40px 0;
    background-image: url(./images/bg\ line.png);
    background-position: center;
}

.hero-div {
    display: flex;
    padding: 50px 60px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 50%;
    padding: 0 20px;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: #0f172a;
    font-family: 'Roboto';
    font-weight: bold;
    word-spacing: -1.5px;
    line-height: 3.8rem;
    margin-bottom: 20px;
}

.hero-text p {
    color: #0f172a;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.hero-btn {
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    padding: 8px 18px;
    background-color: #D43339;
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
}

.hero-image {
    width: 50%;
    height: 400px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

.hero-image .hero-1 {
    width: 90%;
    position: absolute;
    top: 0;
    left: 20px;

}

.hero-image .a-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 35px;
}

.hero-image .a-user p {
    font-family: 'inter', Helvetica, sans-serif;
    font-size: 16px;
    color: #545454;
    text-align: center;
}

.a-user a {
    text-decoration: none;
    font-family: 'Poppins';
    color: green !important;
    font-weight: 600;
}


/* Features Section */
#features {
    background-image: url(./images/bg\ line.png);
    background-position: center;
    max-width: 1440px;
    min-height: 500px;
    /* display: flex;
    flex-direction: column; */
    padding: 20px 50px;
    margin: 20px 0;
    position: relative;
    top: 0;
    left: 0;
}

#features h2 {
    width: 100px;
    font-size: 1.5em;
    font-family: 'inter';
    text-align: center;
    border-bottom: 4px solid #D43339;
    margin: 0 auto;
}

#features .features-div {
    display: flex;
    padding: 50px 10px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

#features .features-div .features-img {
    width: 50%;
    height: 400px;
    position: relative;
}

#features .features-div .features-img .f-1 {
    position: absolute;
    left: 30px;
    width: 75%;

}

#features .features-div .features-img .f-2 {
    position: absolute;
    top: 116px;
    left: 34px;
    width: 70%;
    z-index: 2;
}

#features .features-div .features-img .f-3 {
    position: absolute;
    top: 150px;
    right: 80px;
    width: 60px;
}

#features .features-div .features-cards {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    flex-wrap: wrap;
}

#features .features-div .features-cards .card {
    width: 220px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 .5em #0000004d;
    padding: 10px;
    margin: 15px;
    text-align: center;
    background-color: white;
}

#features .features-div .features-cards .card img {
    width: 25px;
    height: 25px;
}

#features .features-div .features-cards .card h5 {
    font-family: 'inter';
}

#features .features-div .features-cards .card p {
    font-family: 'inter';
    font-size: 13px;
    padding: 10px;
}

#features .features-div .features-cards .explore-now {
    font-family: 'inter', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-align: left;
}

#features .features-div .features-cards .explore-now a {
    text-decoration: none;
    font-family: 'Poppins';
    color: green !important;
    font-weight: 600;
}

/* Insight Section */
#insights {
    max-width: 1440px;
    min-height: 500px;
    padding: 30px 80px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

#insights h2 {
    font-size: 1.5em;
    font-family: 'inter';
    text-align: center;
    border-bottom: 4px solid #D43339;
    margin: 0 auto;
    width: 95px;
}

#insights h4 {
    padding: 40px 0px;
    width: 350px;
    font-family: 'inter';
}

#insights .insights-div {
    display: flex;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 0 .5em #0000004d;
    position: relative;
}

#insights .insights-div .testify {
    display: flex;
    /* justify-content: ; */
    align-items: center;
}

#insights .insights-div .testify-img {
    width: 50%;
    padding-left: 10px;
    padding-right: 40px;
    /* border-radius: 10px; */
}

#insights .insights-div .quote {
    width: 40%;
}

#insights .insights-div .quote p {
    font-weight: 600;
    padding: 10px 0;
    font-family: 'inter';
    font-size: 14px;
}

#insights .insights-div .page-ind {
    width: auto;
    height: 80px;
    position: absolute;
    top: 40%;
    right: 20px;
}

#insights .insights-div .pagin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    gap: 50px;
}

#insights .insights-div .pagin img {
    width: 70px;
    height: auto;
}

#insights .users-rate {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 10px;
    /* position: absolute; */
    /* right: 50%; */
    /* bottom: 0px; */
}


/* Others Section */
#others {
    max-width: 1440px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    margin: 30px 0;

}

#others h2 {
    display: inline;
    font-size: 1.5em;
    font-family: 'inter';
    text-align: center;
    border-bottom: 4px solid #D43339;
    margin: 0 auto;
    width: 80px;
}




/* Footer section */
#main-footer {
    max-width: 1440px;
    min-height: 50px;
    padding: 10px 50px;
    margin: 0 auto;
    font-family: 'inter';
    font-size: 14px;
    box-shadow: 0 0 .5em #0000004d;

}

#main-footer .group1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    margin-bottom: 10px;
}

.group1 .lg {
    width: 130px;
}

#main-footer .group1 .contact-details {
    display: flex;
    gap: 30px;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.email, .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#main-footer .group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.group2 .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.group2 .links .lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group2 .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}