body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.sign-in {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* Centers the items within the grid */
    align-items: center; /* Centers the items vertically within the grid */
    margin: 0 auto;
    gap: 8.8rem;
    .image-wrapper {
      .at-work {
        position: absolute;
        bottom: 135px;
        left: 250px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        display: block;
        width: 33rem;
        height: 3rem;
        padding: 0.6rem;
        gap: 0.6rem;
        border-radius: 0.75rem;
        border: 1.5px solid #989494;
        padding-left: 3rem;
      }

      .icon {
        position: relative;
        top: -2.25rem;
        right: 14.5rem;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.75rem;
        text-align: center;
        margin-bottom: 0;
      }
      span {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.3rem;
        text-align: center;
        color: #9c9b9b;
        margin-bottom: 2rem;
      }

      .terms {
        font-family: Montserrat;
        span {
          font-size: 0.6rem;
          font-weight: 600;
          line-height: 1rem;
          color: #302e2e;
        }
        a {
          font-size: 0.6rem;
          font-weight: 600;
          line-height: 1rem;
          border-bottom: 1.5px solid #f14950;
          color: #f14950;
        }
      }
      button {
        width: 33rem;
        height: 2.5rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        border-radius: 0.75rem;
        background: #f14950;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: center;
        border: none;
        outline: none;
        margin-top: 5rem;
      }

      .sign-in-btn {
        font-family: Montserrat;
        span {
          font-size: 0.75rem;
          font-weight: 600;
          line-height: 1rem;
          color: #2e2e2e;
        }
        a {
          font-size: 0.75rem;
          font-weight: 600;
          line-height: 1rem;
          border-bottom: 2px solid #f14950;
          color: #f14950;
        }
      }

      p {
        font-family: Inter;
        font-size: 11.11px;
        font-weight: 400;
        line-height: 13.45px;
        margin-block: 1rem;
      }
    }
  }
}
